# Node
node_modules/
.pnpm-store/
dist/
build/
coverage/
.nyc_output/

# Next.js build output
.next/
out/
apps/web/.next/

# Env (temporarily allow env files to be tracked during F1.0-E)
# .env
# .env*.local
.vercel/
.supabase/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Others
tmp/
temp/
.swp
.swo
